BeautifulSoup==3.2.1
beautifulsoup4==4.5.3
blinker==1.3
chardet==2.3.0
cram==0.7
cryptography==1.7.1
cycler==0.10.0
duplicity==0.7.11
enum34==1.1.6
feedparser==5.1.3
functools32==3.2.3.post2
google-api-python-client==1.6.2
html5lib==0.999999999
httpie==0.9.8
httplib2==0.10.3
idna==2.2
ipaddress==1.0.17
keyring==10.1
keyrings.alt==1.3
lockfile==0.12.2
-e git+https://github.com/thorstenb/lpod-python.git@b633d5973f0e8a3254e51626183ece2abf8be8d5#egg=lpod_python
lxml==3.7.1
matplotlib==2.0.0
mechanize==0.2.5
mercurial==4.0
-e git+https://github.com/lepture/mistune.git@878f92bdb224a8b7830e8c33952bd2f368e5d711#egg=mistune
musicbrainzngs==0.6
mutagen==1.36
numpy==1.12.1
oauth2client==4.1.2
oauthlib==2.0.1
odpdown==0.4.1
paramiko==2.0.0
Pillow==4.0.0
psutil==5.0.1
pyasn1==0.3.2
pyasn1-modules==0.0.11
pycrypto==2.6.1
pycurl==7.43.0
Pygments==2.2.0
pygobject==3.22.0
pyinotify==0.9.6
PyJWT==1.4.2
pyOpenSSL==16.2.0
pyparsing==2.1.10
python-apt==1.4.0b3
python-dateutil==2.5.3
python-debian==0.1.30
python-debianbts==2.6.1
python-networkmanager==0.9.10
pytz==2016.7
pyxdg==0.25
quodlibet==3.7.1
reportbug==6.6.3
requests==2.12.4
rsa==3.4.2
SecretStorage==2.3.1
six==1.10.0
subprocess32==3.2.7
thingspeak==0.1.1
uritemplate==3.0.0
urllib3==1.19.1
uTidylib==0.3
virtualenv==15.1.0
webencodings==0.5
X-Tile==2.5
